<div class="container container-fluid">
            <h1 class="display-4">About us</h1>
            <p class="lead">
                This platform has been created with the purpose of being 
                able to save tasks and do better your project work.
            </p>
</div>
