    <div class="copyrights bg-dark fixed-bottom">
      <div class="container">
        <div class="footer-distributed">
          <div class="footer-left">
            <p class="footer-company-name text-muted">
              Copyright &copy; 2020
              <a href="sergio@spgcode.com">sergio@spgcode.com</a> Design By :
              <a href="https:/github.com/SPGcode">SPG code 'see github'</a>
            </p>
          </div>
        </div>
      </div>
    </div>

