
<div class="container-fluid mx-auto">
    <div class="row m-4">
    <div class="col-md-6 mx-auto">
            <h1 class="display-4">SPG Notes App</h1>
    <p class="lead">
        With this application you can create, edit and delete 
        tasks for a better organization of your projects. Thanks to its "easy to see" 
        design we can see what needs to be done more beautiful</p>
    <hr class="my-4"><!--divisorie line with marin top and bot-->
    <p class="lead">
        We hope you enjoy with this simple application. <br>
        We will be updating to give a better interaction with new ideas.<br>
        there is no rest for our team!!
        </p>
    <a href="/users/signup" class="btn btn-primary btn-block ml-auto">Let´s go beggin</a>
    </div>
</div>
</div>

    
